@charset "utf-8";
@font-face {
  font-family: quick;
  src: url('../images/Quicksand-Bold.woff') format('woff');
}

@font-face {
  font-family: Bentham;
  src: url('../images/Bentham.woff') format('woff');
}

/*encabezado*/

.encabezado {
    font-family: quick;
    display: flex;
    justify-content: center;
    background-color: #323232;
    height: 300px;
    
}
#divmapa {
   display: flex;
   justify-content: center;
    
}
#divmapa iframe {
  width: 100%;
    
}
.cabecera {
    float: left;
    padding: 10px;
    color: white;
    width: 200px;
    margin: 10px;
    text-align: center;
}

.nav:hover {
    background-color: white ;
}

.nav > li {
    list-style: none;
    float:left;
}
			
.nav li a {
    background-color:#323232;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}
			
.nav li a:hover {
    background-color:#C69C6D;
}
			
.nav li ul {
    list-style: none;
    display:none;
    position:absolute;
    min-width:140px;
}
			
.nav li:hover > ul {
    display:block;
    
}

@font-face{
    font-family:Bentham;
    src: url('images/Bentham.woff') format('woff')
}
@font-face{
    font-family:quick;
    src: url('images/QuickSand-Bold.woff') format('woff')
}


/*cuerpo*/
#mapa{
    width: 1329px;
    height: 500px
    
}
#respondemos{
    font-size: 70px;
    color: #C69C6D;
   
    
}
#divformulario{
    text-align: center;
}

#formnombre{
    margin: 0 auto;
    width: 600px;
    height: 40px;
    display: block;
    margin-bottom: 20px;
    border: 2px solid #C69C6D;
}
#bajar{
    font-family: Bentham;
    margin-bottom: 100px;
    margin-top: 100px;
}
#textoform{
    margin-bottom: 80px;
}
#divboton{
    position: relative;
    text-align: center;
    margin: 0 auto;
}
#boton{
    width: 100px;
    height: 30px;
    background-color: #C69C6D;
    border-style: none;
}



/*footer*/

#footer {
    background-color: #C69C6D;
    justify-content: center;
    text-align: center;
}

.social{ 
	display: inline-block;  /*centra el texto*/
	justify-content: center;
	align-content: center;
	
	background-color: white;
	margin: 20px; 
	text-align: center;
	
	height:60px;  /* divs circulares*/
	width:60px;
	border-radius:30px;
}
#facebook{
	background-image: url(../images/facebookBlack.png);  /*ponemos uimagen facebook de fondo y le decimos que cubra justo el tamño del div */
	background-size: cover;

}
#twitter{
	
	background-image: url(../images/twitterBlack.png);  
	background-size: cover;
	
}
#insta{
	
	background-image: url(../images/instaBlack.png);  
	background-size: cover;
	
}
#youtube{
	
	background-image: url(../images/youtubeBlack.png);  
	background-size: cover;
	
}
#facebook:hover{	
	background-image: url(../images/facebookWhite.png);
}
#twitter:hover{	
	background-image: url(../images/twitterWhite.png);
}
#insta:hover{	
	background-image: url(../images/instaWhite.png);

}
#youtube:hover{	
	background-image: url(../images/youtubeWhite.png);
	background-color:black;
}

.logo2 {
    text-align: center;
    float: left;
}
