 @charset: utf-8;

@font-face {
  font-family: quick;
  src: url('../images/Quicksand-Bold.woff') format('woff');
}

@font-face {
  font-family: Bentham;
  src: url('../images/Bentham.woff') format('woff');
}
.encabezado {
    font-family: quick;
    display: flex;
    justify-content: center;
    background-color: #323232;
    height: 300px;
    
}

.cabecera {
    float: left;
    padding: 10px;
    color: white;
    width: 200px;
    margin: 10px;
    text-align: center;
}

.nav:hover {
    background-color: white ;
}

.nav > li {
    list-style: none;
    float:left;
}
			
.nav li a {
    background-color:#323232;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}
			
.nav li a:hover {
    background-color:#C69C6D;
}
			
.nav li ul {
    list-style: none;
    display:none;
    position:absolute;
    min-width:140px;
}
			
.nav li:hover > ul {
    display:block;
}


.letras{
    font-family: Bentham;
    font-size: 30px;
}
.input{
    width: 500px;
    height: 50px;
    margin-top: 10px;
    margin-left: 23px;
}
.input:hover{
    width: 500px;
    height: 50px;
    margin-top: 10px;
    margin-left: 23px;
    border: 2px solid #C69C6D;
}
.input1 {
    margin-left: 66px;
    width: 500px;
    height: 50px;
}
.input1:hover {
    margin-left: 66px;
    width: 500px;
    height: 50px;
    border: 2px solid #C69C6D;
}
#divformulario{
    position: relative;
    margin: 0 auto;
    width: 900px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 50px;
}
#boton{
    font-family: quick;
    position: relative;
    margin-top: 40px;
    margin-left: 315px;
    font-size: 20px;
    width: 200px;
    height: 50px;
    color: white;
    background-color: #C69C6D;
    border-style: none;
}
#boton:hover{
    position: relative;
    margin-top: 40px;
    margin-left: 315px;
    font-size: 20px;
    width: 200px;
    height: 50px;
    color: black;
    background-color: white;
    border: 2px solid #C69C6D;
    cursor: pointer;
}



#footer {

    background-color: #C69C6D;
    justify-content: center;
    text-align: center;

    position:absolute;
    bottom:0;
    left:0;
    right:0;
}

.social{ 
	display: inline-block;  /*centra el texto*/
	justify-content: center;
	align-content: center;
	
	background-color: white;
	margin: 20px; 
	text-align: center;
	
	height:60px;  /* divs circulares*/
	width:60px;
	border-radius:30px;
}
#facebook{
	background-image: url(../images/facebookBlack.png);  /*ponemos uimagen facebook de fondo y le decimos que cubra justo el tamño del div */
	background-size: cover;

}
#twitter{
	
	background-image: url(../images/twitterBlack.png);  
	background-size: cover;
	
}
#insta{
	
	background-image: url(../images/instaBlack.png);  
	background-size: cover;
	
}
#youtube{
	
	background-image: url(../images/youtubeBlack.png);  
	background-size: cover;
	
}
#facebook:hover{	
	background-image: url(../images/facebookWhite.png);
}
#twitter:hover{	
	background-image: url(../images/twitterWhite.png);
}
#insta:hover{	
	background-image: url(../images/instaWhite.png);

}
#youtube:hover{	
	background-image: url(../images/youtubeWhite.png);
	background-color:black;
}

.logo2 {
    text-align: center;
    float: left;
}
